/*----General----- */
main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 80px);
  
}

h1 {
  font-size: 2.5rem;
}

/*----Header----- */
header {
  text-align:end;
  padding: 1.5rem;

}

/*----Image Side----- */
.img-wrapper {
  width: 100%;
  border-right: 12px double var(--secondary);
  display: flex;
  transition: all 2s;
}

/* Calculate the height minus header and footer total */
.circle {
  height: calc(70vh - 80px);
  width: calc(70vh - 80px);
  border-radius: 100%;
  background: rgb(36, 191, 219);
  background: linear-gradient(180deg, rgba(36, 191, 219, 1) 0%, rgba(249, 201, 97, 1) 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  padding: 3rem;
}
.circle > h1 {
  position: absolute;
  color: white;
  text-shadow: black 0 2px;
}


/*----Form Side----- */
.form {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}
.form > h2 {
  margin: auto auto 0;
}
 form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto auto;
 }
 input, textarea, button[type="submit"] {
  margin: 0.75rem 0;
  border-radius: 5px;
  border: 1px solid rgb(75, 75, 75);
  outline:none;
 }
 input:focus-visible, textarea:focus-visible {
  border: 2px solid blue;
 }

 input {
  height: 30px;
 }
 label {
  font-size: 0.85rem;
 }
 textarea {
  height: 60px;
 }

 button[type="submit"] {
  height: 40px;
  background-color: var(--button);
  font-weight: 600;
  font-size: 0.85rem;
  color: var(--primary);
  transition: all 2s;

 }

 input:invalid {
  color: red;
 }
