/*----General----- */
:root {
  --primary: white;
  --secondary: black;
  --button: black;
}

button:hover {
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
}
header,
footer {
  width: 100%;
  background-color: var(--primary);
}

/*-----Dark-Mode-------*/
[data-theme="dark"] {
  --primary: black;
  --secondary: white;
  --button: lightgray;
}

#blog-wrapper > div {
  border: 1px solid var(--secondary);
  h4 {
    border-bottom: 1px solid var(--secondary);
  }
}
.back-btn {
  background-color: var(--secondary);
  color: var(--primary);
  transition: all 2s;
}


body {
  font-size: 16px;
  background-color: var(--primary);
  transition: all 2s;
  color: var(--secondary);
}



/*----Header----- */
header {
  border-bottom: 12px double var(--secondary);
  transition: all 2s;
  height: 80px;
}

header .color-mode {
  border: none;
  background-color: transparent;
}

.color-mode > i {
  color: yellow;
  font-size: 26px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  height: 26px;
}

/*----Main----- */
.req {
  color: red;
}

.hidden {
  display: none;
}
.visible {
  display: block;
  color: red;
}



/*----Footer----- */
footer {
  position: absolute;
  bottom: 0;
  border-top: 12px double var(--secondary);
  transition: all 2s;
}


